/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";


.page { 
	// define outer container	
	@include container($total-columns, $tablet, $computer); 
	padding:0;
	& > header { 
		@include span-columns($total-columns omega); 
		background-color:green;
		margin-bottom:$gutter-width;
	}

	> div, > article { min-height:100px;}

} 

	.sidemenu { 
		@include span-columns(12); 
		
		background-color:red; 
	}

	.main { 
		@include span-columns(12); 
		
		background-color:blue; 
	}

	.sidebar { 
		@include span-columns(3 omega);  

		background-color:yellow; 
		display:none;
	}


@include at-breakpoint($tablet){ 

	.sidemenu {
		@include span-columns(3); 
	}

	.main {
		@include span-columns(5 omega);
	}
}

@include at-breakpoint($computer){
	.sidemenu {
		@include span-columns(3); 
	}

	.main {
		@include span-columns(6);
	}

	.sidebar {
		@include span-columns(3 omega);
		display:inline;
	}
}


